*{
    margin: 0px;
    padding: 0px;

}

body{
    display: flex;
    background-image: https://www.google.com/url?sa=i&url=https%3A%2F%2Fwallpapers.com%2Fjungle-background&psig=AOvVaw3ghDzV9lfR8dHctU6rby04&ust=1698049186908000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCJjpgaeciYIDFQAAAAAdAAAAABAE;
    /* background-image: url('bg-g.jpg'); */
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}


.box{
    background-color: rgb(0, 0, 0);
    display: block;
    margin:auto ;
    
    margin-top: 15%;
    margin-bottom: 10%;
    height: 300px;
    width: 300px;
    border-radius: 150px;
    overflow: hidden;
    text-align: center;
    transition: 2s;

}
.image{
    margin:auto;
    float: left;
    width: 300px;
    height: 300px;
}
.box .conten{
    visibility: collapse;
    opacity: 0;
}
.box:hover{
    background-image: linear-gradient:black ;
    display: block;
    margin:auto ;
    margin-top: 15%;
    margin-bottom: 10%;
    height: 300px;
    width: 550px;
    text-align: center;
    box-shadow:1px 1px 20px black ;
    border-top-left-radius: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 40px;
}

.box:hover .conten{visibility: visible;
opacity: 1;
height: 280px;
text-align: center;
padding: 20px;
border-radius: 10px;

background-color: #1d2023;}



.name{
    color: green;
    size: 24;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    padding: 10px;
}
.logo{
    padding: 10px;
    height: 30px;
    width: 30px;
}

.quote{
    color: rgb(85, 136, 85);
}
.social{
    background-color: aliceblue;
    border-radius: 20px;
    margin: 10px;
}